@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Single+Day&display=swap');



body {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
}